# Python

__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment

venv/
env/
.venv/

# VS Code

.vscode/

# PyCharm

.idea/

# MySQL Dumps

*.sql.bak

# Logs

*.log

# OS Files

.DS_Store
Thumbs.db
desktop.ini
